:root {
  --primary-text: #000000;
  --accent: #f7941e;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text);
}
.container {
  /* border: 1px solid teal; */
  margin: 0 auto;
  width: 1440px;
}
/* ========== Navigation Bar ========== */
.header-section {
  background-color: #fafafa;
}
.header-container {
  display: flex;
  align-items: center;
  padding-left: 80px;
  padding-right: 40px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: "Homemade Apple", cursive;
  font-size: 18px;
  line-height: 2.17;
  color: #231f20;

  transition: color 500ms ease-in-out, transform 500ms ease-in-out;
}
.logo:hover,
.logo:focus {
  color: var(--accent);
  transform: scale(1.1);
}
.header-logo {
  padding-top: 38px;
  padding-bottom: 38px;
}
.header-list {
  margin-left: 433px;
  display: flex;
  gap: 31px;
  align-items: center;
}
.header-list-link {
  display: block;
  padding-top: 42px;
  padding-bottom: 42px;
  font-size: 18px;
  line-height: 1.67;

  transition: color 500ms ease-in-out, transform 500ms ease-in-out;
}
.header-list-link:hover,
.header-list-link:focus {
  color: var(--accent);
  transform: scale(1.1);
}
.header-btn {
  margin-left: auto;
  padding: 10px 24px;
  min-width: 200px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: 5px;

  transition: color 500ms ease-in-out, background-color 500ms ease-in-out,
    transform 500ms ease-in-out;
}
.header-btn:hover,
.header-btn:focus {
  color: #ffffff;
  background-color: var(--accent);
}
.header-btn:active {
  transform: scale(0.95);
}
/* ========== /Navigation Bar ========== */
/* ========== Hero Side Image Right ========== */
.hero-section {
  background-color: #f1f1f2;
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-card {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-content {
  width: 433px;
}
.hero-title {
  margin-bottom: 36px;
  font-size: 56px;
  line-height: 1.23;
}
.hero-discription {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 1.4;
}
.hero-btn {
  padding: 18px 24px;
  min-width: 200px;
  font-size: 18px;
  line-height: 1.22;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 5px;
  transition: transform 500ms ease-in-out;
}
.hero-btn:active {
  transform: scale(0.9);
}
/* ========== /Hero Side Image Right ========== */
/* ========== Feature Split Right ==========*/
.feature-section {
  background-color: #f1f1f2;
}
.feature-container {
  display: flex;
  align-items: center;
}
.feature-card {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-content {
  width: 433px;
}
.feature-title {
  margin-bottom: 36px;
  font-size: 32px;
  line-height: 1.4;
}
.feature-discription {
  margin-bottom: 60px;
  font-size: 20px;
  line-height: 1.4;
  text-align: justify;
}
.feature-btn {
  padding: 18px 24px;
  min-width: 200px;
  font-size: 18px;
  line-height: 1.3;
  text-transform: uppercase;
  background-color: transparent;
  color: var(--accent);
  border: 1px solid var(--accent);
  border-radius: 5px;
  transition: color 500ms ease-in-out, background-color 500ms ease-in-out,
    transform 500ms ease-in-out;
}
.feature-btn:hover,
.feature-btn:focus {
  color: #ffffff;
  background-color: var(--accent);
}
.feature-btn:active {
  transform: scale(0.9);
}
/* ========== /Feature Split Right ==========*/
/* ========== Posts Tall ========== */
.posts-section {
  background-color: #ffffff;
  padding-top: 96px;
  padding-bottom: 137px;
}
.posts-container {
  text-align: center;
  padding: 0 135px;
}
.posts-title {
  margin-bottom: 23px;
  font-size: 32px;
  line-height: 1.88;
}
.posts-discription {
  margin-bottom: 64px;
  font-size: 18px;
  line-height: 1.36;
}
.posts-list {
  display: flex;
  gap: 30px;
}
.posts-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  text-align: left;
  background-color: #fafafa;
  transition: filter 500ms ease-in-out, background-color 500ms ease-in-out;
}
.posts-list-item:hover,
.posts-list-item:focus {
  background-color: #ffffff;
  filter: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.05));
}
.posts-item-content {
  padding: 24px;
}
.posts-item-title {
  margin-bottom: 74px;
  font-size: 20px;
  line-height: 1.2;
}
/* ========== /Posts Tall ========== */
/* ========== CTA Section ========= */
.cta-section {
  background-color: var(--accent);
  padding-top: 81px;
  padding-bottom: 69px;
}
.cta-container {
  padding: 0 235px;
}
.cta-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.4;
}
.cta-discription {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
}
.cta-button-primary {
  margin-left: auto;
  padding: 12px 24px;
  min-width: 200px;
  font-size: 18px;
  line-height: 1.34;
  text-transform: uppercase;
  color: #ffffff;
  background: var(--primary-text);
  border: 1px solid var(--primary-text);
  border-radius: 5px;

  transition: transform 500ms ease-in-out;
}
.cta-button-secondary {
  margin-left: 16px;
  padding: 12px 24px;
  min-width: 200px;
  font-size: 18px;
  line-height: 1.34;
  text-transform: uppercase;
  color: var(--primary-text);
  background: inherit;
  border: 1px solid var(--primary-text);
  border-radius: 5px;

  transition: transform 500ms ease-in-out;
}
.cta-button-primary:active,
.cta-button-secondary:active {
  transform: scale(0.95);
}
.cta-container {
  display: flex;
  align-items: center;
}
/* ========== /CTA Section ========= */
/*  ========== Posts Blog Top ========== */
.blog-top-section {
  background-color: #ffffff;
  padding-top: 85px;
  padding-bottom: 80px;
}
.blog-top-container {
  padding: 0 135px;
}
.blog-top-title {
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.88;
  text-align: center;
}
.blog-top-discription {
  margin-bottom: 71px;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
}
.blog-top-article {
  margin-bottom: 40px;
  background-color: #231f20;
  display: flex;
}
.blog-top-content {
  padding: 63px 200px 49px 78px;
}
.blog-top-article-text {
  margin-bottom: 27px;
  font-size: 14px;
  line-height: 1.43;
  color: #ffffff;
}
.blog-top-article-title {
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.16;
  color: #ffffff;
}
.blog-top-article-link {
  font-size: 18px;
  line-height: 1.39;
  color: #ffffff;
  transition: color 500ms ease-in-out;
}
.blog-top-article-link:hover,
.blog-top-article-link:focus {
  color: var(--accent);
}
.blog-top-list {
  display: flex;
  gap: 38px;
}
.blog-top-item {
  padding: 48px 40px 50px 56px;
  background-color: #ffffff;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
}
.blog-item-title {
  max-width: 450px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.42;
}
.blog-item-text {
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.39;
}
.blog-item-link {
  font-size: 14px;
  line-height: 1.43;

  transition: color 500ms ease-in-out;
}
.blog-item-link:hover,
.blog-item-link:focus {
  color: var(--accent);
}
/*  ========== /Posts Blog Top ========== */
/* ========== Footer Center ========== */
.footer-section {
  background-color: #ffffff;
  padding-top: 106px;
  padding-bottom: 35px;
}
.footer-container {
  padding: 0 220px;
}
.footer-nav {
  margin-bottom: 55px;
  padding-bottom: 43px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 141px;
  border-bottom: 1px solid #000000;
}
.footer-list {
  display: flex;
  gap: 81px;
}
.footer-icon-list {
  margin-bottom: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer-list-link {
  transition: color 500ms ease-in-out, transform 500ms ease-in-out;
}
.footer-list-link:hover,
.footer-list-link:focus {
  color: var(--accent);
  transform: scale(1.1);
}
.footer-logo {
  color: var(--accent);
}
.footer-icon-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-icon-item {
  height: 40px;
  width: 40px;

  transition: fill 500ms ease-in-out;
}
.footer-icon-item:hover {
  fill: var(--accent);
}
.footer-copyright {
  display: flex;
  justify-content: center;
  gap: 14px;
}
.footer-text {
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
}
.footer-list-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
}
/* ========== /Footer Center ========== */
